# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# documents
*.pdf
hereafter from Mike
build/
gcf\n
gcf
main8
	ArrayObjects
cgi1
main3
mainB
mainD
openGLarray1
pythagoras1
strings2
templates2
ArrayObjects
